@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
     margin: 0;
      padding: 0;
}
body{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    background-color:var(--Pale-blue) ;
    background-image: url('images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}
.container{
    background-color: #fff;
    border-radius: 20px;
    width: 450px;
    overflow: hidden; 
    margin: 10px auto;
}
.content{
    padding: 20px 35px;
}
 .container img{
    max-width: 100%;
}
.content h2{
    text-align: center;
    font-weight: 900;
    margin-bottom: 15px;
}
.content p{
    color: var(--Desaturated-blue);
    text-align: center;
    line-height: 1.5;
    max-width: 350px;
    font-weight: 500;
    margin-bottom: 15px;
}
.plan{
    background-color: var(--Very-pale-blue);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.left-plan{
    display: flex;
}
.left-plan img{
    margin-right: 15px;
}
.left-plan span{
    display: block;
}
.left-plan span:first-child{
    font-weight: 900;
    color: var(--Dark-blue);
    margin-bottom: 5px;
}
.left-plan span:last-child{
    color: var(--Desaturated-blue);
}
.right-plan a{
    color: var(--Bright-blue);
    font-weight: bold;
}
a.proceed{
    background-color: var(--Bright-blue);
    font-weight: 900;
    color: white;
    border-radius: 8px;
    padding: 15px 0;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: 0px 15px 20px var(--Pale-blue);
}
a.cancel{
    font-weight: 900;
    color: var(--Desaturated-blue);
    border-radius: 8px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
}
@media (max-width:375px){
    body{
        background-image: url('images/pattern-background-mobile.svg');
    }
    .container{
        width: 95%;
    }
    .content{
        padding: 20px;
    }
}